<div id="home">
    <div class="container-fluid">
    <header>
      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1 class="navbar-brand text-center">Mongo Scraper</h1>
          </div>
          <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
              <a class="nav-link text-light" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light btn-lg btn-danger" href="/scrape">Scrape New Articles</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
        <div class="jumbotron text-center background-img">
            <div class="overlay">
                <div class="caption">
                    <h1 class="font-weight-bolder display-1 text-white">Mongo Scraper</h1>
                    <h2 class="text-white font-italic">Washington Post Edition</h2>
                </div>
            </div>
        </div>
    <div class="row">
      <div class="col-md-12">
        {{#if articles}}
        {{#each articles}}
          <div class="card w-90">
                <div class="card-header text-white bg-primary">
                    <a href={{link}} target="_blank" class="text-white">
                        <h2>{{headline}}</h2>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                       {{blurb}}
                    </p>
                    <button id={{_id}} class="btn btn-success save-article-btn">Save Article</button>
                </div>
            </div>
        {{/each}}
        {{else}}
            <div class="card text-white bg-warning w-90 p-1">
                <div class="card-body text-center">
                    Uh oh. Looks like we don't have any new articles
                </div>
            </div>
        {{/if}}

      </div>
    </div>
    </div>
  </div>
</div>

